.container { /*Стили для контейнера. 
	Если будем продолжать верстать
	 - нужно будет придумать отдельные классы*/
	margin: 30px;
	width: 800px;
	float: left;
	background: #FFDEAD;
	border-radius: 10px;
	box-shadow: 0 5px 10px;
	border: 2px solid black;
	background: linear-gradient(to top, #FFDEAD, #F0E68C);
}

h1 {
	margin-top: 20px;
	margin-left: 275px;
font-size: 32px;
font-family: 'Montserrat', sans-serif;
}

li {
	margin-bottom: 10px;
font-size: 26px;
font-family: 'PT Sans', sans-serif;
margin-left: 40px;
}